*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    height: 440px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .3s ease;
    z-index: 999;
}

.wrapper.active-popup{
    transform: translate(-50%, -50%) scale(1);
}

.wrapper.active{
    height: 520px;
}

.wrapper .caixa-box{
    width:100%;
    padding:40px;
}

.wrapper .caixa-box.login{
    transform: translateX(0);
}

.wrapper.active .caixa-box.login{
    transform: translateX(-400px);
}

.wrapper .caixa-box.registro{
    position:absolute;
    transform: translateX(400px);
}

.wrapper.active .caixa-box.registro{
    transform: translateX(0);
}

.icon-close{
    position:absolute;
    top:0;
    right:0;
    width:45px;
    height:45px;
    background:#162938;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.input-box{
    position:relative;
    width:100%;
    height:50px;
    border-bottom:2px solid #162938;
    margin:30px 0;
}

.input-box input{
    width:100%;
    height:100%;
    border:none;
    outline:none;
}

.input-box label{
    position:absolute;
    top:50%;
    left:5px;
    transform:translateY(-50%);
    transition:.3s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}

.btn{
    width:100%;
    height:45px;
    background:#162938;
    border:none;
    color:white;
    cursor:pointer;
}
